servers:
  web:
    hosts:
      - fizzy-app-101
  jobs:
    hosts:
      - fizzy-app-101
  web-replica:
    hosts:
      - fizzy-app-102

proxy:
  hosts:
    - fizzy.37signals.com # will return a 404 for now
    - 37s.fizzy.37signals.com
    - dev.fizzy.37signals.com
    - qa.fizzy.37signals.com

ssh:
  user: app
