<%= turbo_stream_from Current.user, :pins_tray %>

<section class="tray tray--pins" data-controller="dialog">
  <%= tag.dialog id: "pin-tray", class: "tray__dialog",
        data: { turbo_permanent: true, dialog_modal_value: false, dialog_target: "dialog", action: "keydown.esc->dialog#close:stop click@document->dialog#closeOnClickOutside" } do %>
    <%= turbo_frame_tag "pins", src: my_pins_path %>
  <% end %>

  <button class="tray__toggle" data-action="dialog#toggle" aria-label="Toggle pins stack" aria-haspopup="true">
    <div class="tray__toggle-btn txt-uppercase btn btn--reversed txt-x-small center full-width">
      <%= icon_tag "pinned" %>
      <span class="tray__toggle-text">Pinned</span>
    </div>
  </button>
</section>
