.color-picker {
  --panel-border-color: var(--bubble-color);
  --panel-border-radius: 2em;
  --panel-border-size: 2px;
  --panel-padding: 0.5em 0.7em;
  --panel-size: auto;

  inline-size: auto !important;
  inset: 0 auto auto 0;
  max-inline-size: var(--panel-size) !important;
  position: absolute;
  z-index: 2;

  &[open] {
    display: flex;
  }

  .color-picker__color {
    --btn-size: 2em;
  }
}

.color-picker__button {
  font-size: 0.75em;

  .cards & {
    display: none;
  }

  + .panel {
    --panel-size: auto;

    inset: 0 0 auto auto;
  }
}
